<!doctype html>
<html ng-app>

<body>
<div ng-controller="WarController">

<button ng-click="start_game()">Start a game</button>
<button ng-click="flip_player_1_card();">Flip player 1 card</button>
<button ng-click="flip_player_2_card();">Flip player 2 card</button>

<table>
	<thead>
		<th>
			<td>Player 1</td>
			<td>Player 2</td>
		</th>
	<thead>
	<tbody>
		<tr>
			<td># of cards left</td>
			<td>{{player_1_cards_remaining()}}</td>
			<td>{{player_2_cards_remaining()}}</td>
			<td></td>
		</tr>
		<tr>
			<td>Score</td>
			<td>{{player_1_score()}}</td>
			<td>{{player_2_score()}}</td>
		</tr>
		<tr>
			<td>Card</td>
			<td>{{player_1_card}}</td>
			<td>{{player_2_card}}</td>
		</tr>

	</tbody>
</table>
</div>
</body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.8/angular.min.js"></script>
<script type="text/javascript" src="jquery.js"></script>
<script type="text/javascript" src="war.js"></script>
<script type="text/javascript">
</script>
